<div class="bg-slate-200 rounded p-4">
    <div class="flex flex-col items-center">
      <h1 class="font-bold text-center mb-4">Save Time and Money</h1>
      <p class="text-center md:w-96">
        Tired of shelling out big bucks for expensive voice-over artists?
        Say goodbye to those hefty bills and hello to the future of voice
        creation. Our text-to-speech tool is here to revolutionize your
        content creation process while saving you both time and money.
      </p>
    </div>
    <div class="justify-around flex flex-wrap md:flex-nowrap h-54 p-2">
      <div class="rounded-r-full w-full md:w-1/4 bg-white mb-4 md:mb-0 md:mr-4">
        <img
          class="h-48 w-48 object-cover ml-8"
          src="../../assets/voice over 1@2x.png"
          alt="Voice"
        />
      </div>
      <div class="flex-1 p-4">
        <div class="w-full md:w-44 ml-8">
          <h1 class="pt-6 font-semibold ">💰 Save Big</h1>
        </div>
        <div class="flex justify-center ml-8 md:w-full lg:w-2/3 xl:w-3/4">
          <p class="text-left pl-2">
            Imagine the savings when you no longer need to hire an expensive
            voice-over artist for your videos, presentations, podcasts, and
            more. Our tool provides professional-grade voices at a fraction
            of the cost so your budget stays intact.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap md:flex-nowrap justify-around h-54 p-2">
      <div class="flex-1 p-4 md:w-1/2 lg:w-3/4">
        <div class="w-full md:w-44 ml-8">
          <h1 class="pt-6 font-semibold ">🕥 Save Time</h1>
        </div>
        <div class="flex justify-center ml-8 md:w-full lg:w-2/3 xl:w-3/4">
          <p class="text-left pl-2">
            Forget about time-consuming casting, recording sessions, and
            endless revisions. With our tool, you can generate high-quality
            voiceovers in seconds—no more waiting for voice artists to
            deliver. Create your content on your schedule.
          </p>
        </div>
      </div>
      <div class="rounded-l-full w-full md:w-1/4 bg-white mt-4 md:mt-0 md:ml-4">
        <img
          class="h-48 w-48 object-cover ml-16"
          src="../../assets/save-time 1.png"
          alt="Voice"
        />
      </div>
    </div>

    <div class="flex flex-wrap md:flex-nowrap justify-around h-54 p-2">
      <div class="rounded-r-full w-full md:w-1/4 bg-white mt-4 md:mt-0">
        <img class="h-48 w-48 object-cover ml-8" src="../../assets/user 1.png" />
      </div>
      <div class="flex-1 p-4 md:w-1/2 lg:w-3/4">
        <div class="w-full md:w-52 ml-8">
          <h1 class="pt-6 font-semibold">🗣️ Realistic Human Voices</h1>
        </div>
        <div class="flex justify-center ml-8 md:w-full lg:w-2/3 xl:w-3/4">
          <p class="text-left pl-2">
            Our cutting-edge technology generates the most lifelike human
            voices that will captivate your audience. From engaging
            narrations to persuasive sales pitches, your content will sound
            as if it's delivered by a real human.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap md:flex-nowrap justify-around h-54 p-2">
      <div class="flex-1 p-4 md:w-1/2 lg:w-3/4">
        <div class="border-solid w-full md:w-44 ml-8">
          <h1 class="pt-6 font-semibold ">⭐ Versatile & Efficient</h1>
        </div>
        <div class="flex justify-center ml-8 md:w-full lg:w-2/3 xl:w-3/4">
          <p class="text-left pl-2">
            Whether you are creating marketing videos, e-learning courses,
            or podcasts, our Text-to-Speech tool is your all-in-one
            solution. It adapts to various contexts, making your content
            creation process smoother and more efficient.
          </p>
        </div>
      </div>
      <div class="rounded-l-full w-full md:w-1/4 bg-white mt-4 md:mt-0">
        <img
          class="h-48 w-48 object-cover ml-16"
          src="../../assets/youtube 1.png"
          alt="Voice"
        />
      </div>
    </div>
    <div class="flex flex-wrap md:flex-nowrap justify-around h-54 p-2">
      <div class="md:rounded-l-full w-full md:w-1/4 bg-white mt-4 md:mt-0">
        <img
          class="h-48 w-48 object-cover ml-16"
          src="../../assets/boost productivity 1.png"
          alt="Boost Productivity"
        />
      </div>
      <div class="flex-1 p-4 md:w-1/2 lg:w-3/4">
        <div class=" w-full md:w-44 ml-8">
          <h1 class="pt-6 font-semibold ">🚀 Boost Productivity</h1>
        </div>
        <div class="flex justify-center ml-8 md:w-full lg:w-2/3 xl:w-3/4">
          <p class="text-left pl-2">
            Free up your team's valuable time to focus on creativity and
            strategy, rather than spending hours on voice-over logistics.
            Get more done in less time with the assurance of exceptional
            results.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center">
      <h1 class="font-bold text-center mb-4">
        Ready to revolutionize your content creation?
      </h1>
      <p class="text-center md:w-96">
        It's time to take the leap into a world where saving money and
        creating lifelike human voices is just a click away. Say goodbye to
        the pain of expensive voice-over artists and embrace the future of
        content creation. Try our Text-to-Speech tool today!
      </p>
    </div>
    <div class="flex flex-col items-center border-solid  p-6">
      <h1 class="font-bold mb-4">Try Speechimo for 14 Days Free</h1>
      <div class="w-full md:w-2/3 lg:w-1/2  flex justify-center">
        <button class="flex items-center p-2 justify-around rounded-full text-black bg-blue-600 font-bold w-full md:w-40">
          Start <mat-icon size='24' class="ml-2">arrow_right_alt</mat-icon> 
        </button>
      </div>
    </div>
  </div>
