<div class='p-4 md:p-10 flex justify-center bg-white h-full w-full rounded'>
    <div class='flex-col h-full w-full max-w-screen-md mx-auto bg-slate-50 rounded'>
      <h1 class='text-xl font-extrabold text-center p-4'>Frequently asked questions!</h1>
      <div class='flex-col  justify-center p-4 '>
        <select class='border-b border-black bg-transparent  p-2 mb-2 md:w-full lg:w-full xl:w-full'>
          <option value="option1">How do I Create AI Voice?</option>
          <option value="option2">Nothing</option>
          <option value="option3">Nothing</option>
        </select>

        <select class='border-b border-black bg-transparent  p-2 mb-2 md:w-full lg:w-full xl:w-full'>
          <option value="option1">Can I use elevenlabs AI voice free?</option>
          <option value="option2">Nothing</option>
          <option value="option3">Nothing</option>
        </select>

        <select class='border-b border-black bg-transparent  p-2 mb-2 md:w-full lg:w-full xl:w-full'>
          <option value="option1">What is AI text to speech?</option>
          <option value="option2">Nothing</option>
          <option value="option3">Nothing</option>
        </select>

        <select class='border-b border-black bg-transparent  p-2 mb-2 md:w-full lg:w-full xl:w-full'>
          <option value="option1">What is AI voice generator?</option>
          <option value="option2">Nothing</option>
          <option value="option3">Nothing</option>
        </select>

        <select class='border-b border-black bg-transparent  p-2 mb-2 md:w-full lg:w-full xl:w-full'>
          <option value="option1">What is AI voice cloning?</option>
          <option value="option2">Nothing</option>
          <option value="option3">Nothing</option>
        </select>

        <select class='border-b border-black bg-transparent p-2 mb-2 md:w-full lg:w-full xl:w-full'>
          <option value="option1">How do I clone voice?</option>
          <option value="option2">Nothing</option>
          <option value="option3">Nothing</option>
        </select>
      </div>
    </div>
  </div>
